apiVersion: v1
kind: Secret
metadata:
  name: log-forwarderd
  
stringData:
  HUBITAT_USERNAME: {{ .Values.secrets.hubitat.username }}
  HUBITAT_PASSWORD: {{ .Values.secrets.hubitat.password }}
  HUBITAT_MAKER_API_TOKEN: {{ .Values.secrets.makerApi.token }}
  APPI_KEY: {{ .Values.secrets.applicationInsights.instrumentationKey }}
